div#auth-wrapper {
    width: 100%;
    height: calc(100% - 54px);
    display: flex;
    align-items: center;
    justify-content: center;
}

form#auth-form {
    box-sizing: border-box;
    width: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    margin: 0 auto;
    padding: 20px;

    color: var(--text-3);
    background-color: var(--dp-04);
    border: 1px solid var(--dp-24);
    border-radius: 20px;
}

#auth-form label {
    display: flex;
    align-items: center;

    position: relative;
    box-sizing: content-box;

    height: 32px;
    width: calc(100% - 10px);
    padding: 8px 2px 4px;

    border: 1px solid var(--text-color);
    border-radius: 8px;
}

#auth-form label > span {
    position: absolute;
    top: 11px;
    left: 12px;

    line-height: 1;
    font-size: 20px;
    padding: 0 5px;

    background-color: var(--dp-04);
    transition: all .3s ease;
}

#auth-form label > span:has(+ input:not([value=""])),
#auth-form label > span:has( + input:focus) {
    top: calc(-50% + 16px);
    left: 5px;
    font-size: 12px;
}

#auth-form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;
    outline: none;
    cursor: text;

    height: 100%;
    width: 100%;
    padding: 0 10px;

    font-size: 20px;
    color: var(--text-color);
    background-color: transparent;
}

#auth-form > .form-controls a {
    text-decoration: underline;
    color: inherit;
    transition: inherit;
    cursor: pointer;
}

#auth-form > .form-controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    color: var(--text-3);
    transition: .3s ease;
}

#auth-form > .form-controls > *:hover {
    color: var(--text-1);
}

p.form-error {
    color: #bf1f1f;
    font-size: 12px;
    text-align: left;
}