.brew-list-item {
    position: relative;

    width: 350px;
    height: 240px;

    margin: 10px auto calc(25px - 240px);
    padding: 15px;

    border: 1px solid var(--cream);
    border-radius: 10px;

    background-color: lch(from var(--vanilla) calc(l - 20) calc(c + 10) h);
    transition: margin-bottom .45s cubic-bezier(0.5, 0.2, 0.6, .9);
}

.brew-list-item.show-item {
    margin-bottom: 0;
}

.brew-title {
    display: flex;
    justify-content: space-between;

    padding-bottom: 5px;
    border-bottom: 1px solid var(--cream);
}

.brew-title > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.brew-list-item p, .brew-list-item h3, .brew-list-item h5 {
    margin: 0;
}

.brew-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 5px 0;
}

.brew-content > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.brew-content svg {
    height: 14px;
}

.brew-buttons {
    display: flex;
    justify-content: space-between;
}

.brew-buttons > button {
    padding: 5px 10px;
    color: rgba(246, 235, 218, .7);
    background-color: transparent;
    border: none;

    transition: color .2s ease;
}

.brew-buttons > button:hover, .brew-buttons > button:active, .coffee-buttons > button:focus {
    color: #f6ebda;
    outline: none;
    border: none;
}