.coffee-list-item {
    width: 400px;
    margin: 10px auto;
    padding-bottom: 5px;

    border: 1px solid white;
    border-radius: 8px;

    background-color: #3e3d3d;
}

.coffee-list-item > p {
    margin: 5px auto;
}