.coffee-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 350px;
    height: 200px;

    margin: 10px auto -185px;
    padding-bottom: 5px;

    border: 1px solid #d9d9d9;
    border-radius: 8px;

    background-color: #3e3d3d;

    transition: all .5s ease;
}

.coffee-list-item > * {
    padding: 0 10px;
}

.coffee-list-item.show-item {
    margin-bottom: 10px;
}

.coffee-title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    padding: 10px 10px 0;
    border-bottom: 1px solid;
    margin-bottom: 5px;
}

.coffee-title > * {
    margin: 0;
}

.coffee-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.coffee-content p {
    margin: 0;
}

.coffee-buttons {
    display: flex;
    justify-content: space-between;
}

.coffee-buttons > button {
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.67);
    background-color: transparent;
    border: none;

    transition: color .2s ease;
}

.coffee-buttons > button:hover, .coffee-buttons > button:active, .coffee-buttons > button:focus {
    color: rgba(255, 255, 255, 0.95);
    outline: none;
    border: none;
}

.trash-icon, .edit-icon {
    height: 16px;
}