.coffee-list-item {
    width: 350px;
    height: 20px;
    overflow-y: hidden;

    margin: 10px auto;
    padding-bottom: 5px;

    border: 1px solid white;
    border-radius: 8px;

    background-color: #3e3d3d;

    transition: all .3s ease;
}

.coffee-list-item.show-item {
    height: 250px;
    overflow-y: auto;
}

.coffee-list-item > p {
    margin: 5px auto;
}

.delete-coffee-button {
    align-self: flex-end;
    background-color: #612121;
}

.trash-icon {
    height: 12px;
}