nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: sticky;
    top: 0;

    background-color: #c5a487;

    height: 60px;
    width: 100vw;
    margin: 0;
}

nav h1 {
    font-size: 20px;
}

#coffee-icon {
    height: 24px;
}

#new-coffee-icon {
    height: 26px;
}

nav button {
    color: #2d1e11;
    background-color: transparent;
    border: none;
    outline: none;
}

nav button:hover, nav button:active, nav button:focus {
    color: #f6ebda;
    border: none;
    outline: none;
}

#brew-icon {
    height: 24px;
}

#new-brew-icon {
    height: 24px;
}