nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: sticky;
    top: 0;

    background-color: #c5a487;

    height: 60px;
    width: 100vw;
    margin: 0;
}

nav h1 {
    font-size: 20px;
}

#coffee-icon {
    height: 24px;
    aspect-ratio: 1;
}

#brew-icon {
    height: 20px;
}