nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 2;

    background-color: var(--nav-bg);

    height: 54px;
    width: 100vw;
    margin: 0;
}

nav h3 {
    font-size: 16px;
    font-family: 'DG One', 'Habibi', system-ui, -apple-system, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-2);
    text-transform: uppercase;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 20px;
    
    transition: color .2s ease-out;
}

nav a.logout {
    position: absolute;
    right: 10px;
    top: 15px;
}

svg#brew-icon, svg#coffee-icon {
    height: 24px;
    width: 24px;
}