input[type=range] {
    width: 100%;
    height: 4px;

    appearance: none;
    -webkit-appearance: none;
    outline: none;
    
    background: transparent; /* Will change in input style */
    border-radius: 2px;
    transition: all .2s ease;
}
input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 20px;
    border: 2px solid var(--text-3);
    border-radius: 10px;
    /* background-color: var(--text-3); */
    background-color: transparent;
    cursor: pointer;
    margin-top: 0;
    /* box-shadow: 2px 3px 5px var(--dp-00); */
    filter: drop-shadow(2px 3px 1px var(--dp-00));
    transition: 
        width .2s ease,
        height .2s ease;
}

input[type=range]:active::-webkit-slider-thumb {
    height: 23px;
    width: 24px;
    border-radius: 11px;
    /* box-shadow: 3px 5px 8px var(--dp-00); */
    /* filter: drop-shadow(2px 3px 2px var(--dp-00)) */
}

input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: var(--text-3);
    cursor: pointer;
    box-shadow: 2px 3px 5px var(--dp-00);
}
input[type=range]::-ms-thumb {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: var(--text-3);
    cursor: pointer;
    box-shadow: 2px 3px 5px var(--dp-00);
}
