#brew-form-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    box-sizing: border-box;
    width: 350px;
    height: 540px;
    overflow-y: scroll;
    padding: 25px 0;

    border-radius: 20px;
    background-color: var(--dp-04);
}

#brew-form-modal h2 {
    align-self: flex-start;
    font-family: 'Habibi';
    font-size: 22px;
    padding: 0 25px;
}

#brew-form-modal h5 {
    font-weight: normal;
    font-size: 16px;
    padding-bottom: 15px;
}

#brew-form {
    box-sizing: border-box;
    width: 100%;
    padding: 0 25px;
}

#brew-form #recipe-summary {
    height: 280px;
}

#adjust-recipe-btn {
    width: 100%;
    border: 1px solid var(--dp-00);
    border-top: none;
    border-radius: 0 0 16px 16px;
    transition: background-color .3s ease;
}
#adjust-recipe-btn:hover {
    background-color: lch(from var(--dp-24) calc(l + 5) calc(c + 5) h);
}

#brew-form select {
    border: none;
    outline: none;

    width: 100%;
    padding: 10px;

    color: var(--text-3);
    background-color: transparent;
}

#rating-notes-page {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#rating-notes-page > div {
    text-align: left;
}

#rating-container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 3fr 2fr;
}

#display-rating {
    display: flex;
    line-height: 1;
    font-size: 48px;
    justify-self: center;
}

#display-rating > div {
    width: 55px;
}

#display-rating span {
    font-size: 32px;
}

#rating {
    grid-column: 1 / 4;
    grid-row: 2;
    margin-top: 30px;
}

#brew-form textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px;
    height: 170px;
    resize: none;
    
    font-size: 16px;
    color: var(--text-3);

    border: 1px solid var(--dp-24);
    border-radius: 8px;
    background-color: var(--dp-01);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

#brew-form textarea::placeholder {
    color: lch(from var(--text-3) l c h / .4);
}

#page-controls {
    position: absolute;
    left: 25px;
    bottom: 25px;
    width: 300px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-controls > :disabled {
    background-color: var(--dp-04);
    color: var(--dp-00);
    border: none;
    border-top: 2px solid var(--dp-00);
    border-left: 2px solid var(--dp-00);
    cursor: default;
}

/* RecipeSelect */

#recipe-select {
    width: 100%;
    height: 360px;
    position: relative;
    padding: 0 0 30px;
}

#recipe-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
    width: 100%;
    height: 340px;
    overflow-y: scroll;
}

.recipe-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    box-sizing: border-box;
    width: 300px;
    height: 56px;
    padding: 30px;
    
    border-radius: 10px;
    
    background-color: var(--dp-08);
    box-shadow: 3px 2px 6px var(--dp-00);
    transition: all .3s ease;
    cursor: pointer;
}

#create-recipe-option {
    color: var(--text-2);
    background-color: var(--primary);
}

#create-recipe-option:hover {
    background-color: #7D423C;
}

.recipe-list-item:hover {
    color: var(--text-2);
    background-color: var(--dp-24);
    box-shadow: 5px 3px 8px var(--dp-00);
}