.brew-list-item {
    width: 350px;

    color: var(--text-3);
    background-color: var(--dp-01);

    border-radius: 20px;
}

.brew-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;

    border-radius: 20px 20px 0 0;
    background-color: var(--dp-08);
}

.brew-title > div {
    display: flex;
    gap: 15px;
}

.brew-title h5 {
    font-weight: normal;
    font-size: 16px;
    color: lch(from #C5A487 l c h / .75)
}

.brew-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;

    padding: 14px 20px 18px;
    font-size: 14px;
}

.brew-content > :first-child {
    font-weight: 600;
    margin-bottom: 5px;
}

.brew-content > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brew-content > div > :nth-child(2) {
    color: lch(from #C5A487 l c h / .55)
}

.brew-content p {
    width: 310px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.brew-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.brew-buttons > button {
    padding: 5px 10px;
    color: var(--text-color);
    background-color: transparent;
    border: none;

    transition: color .2s ease;
}

.brew-buttons > button:hover, .brew-buttons > button:active, .coffee-buttons > button:focus {
    color: var(--background-color);
    outline: none;
    border: none;
}