.brew-list-item {
    width: 350px;
    height: 60px;

    transition: height .65s cubic-bezier(0.5, 0.2, 0.6, .9);
    filter: drop-shadow(2px 2px 0 var(--mocha));
}

.brew-list-item.show {
    height: 220px;
    max-height: 450px;
}

div.inner-card {
    position: relative;

    width: 100%;
    height: 100%;
    box-sizing: border-box;

    border: 1px solid var(--mocha);
    border-radius: 10px;

    background-color: var(--cappuccino);

    transition: transform .5s;
    transform-style: preserve-3d;
}

div.front-face {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.brew-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding-bottom: 5px;
}

.brew-title > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    line-height: 1.1;
}

.brew-title p {
    font-size: 12px;
}

.brew-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 5px 0;
}

.brew-content > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.brew-content svg {
    height: 14px;
    width: 14px;
}

.grind-details > svg {
    height: 48px;
    width: 24px;
}

.grind-details p {
    text-align: left;
}

.brew-content > .brew-details {
    width: 100%;
    justify-content: space-between;
}

div.back-face {
    position: absolute;
    top: 10px;
    padding: 15px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: flex-start;
    gap: 2px;
    margin: 8px 0;

    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.inner-card.flipped{
    transform: rotateY(180deg);
}

div.recipe, div.notes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;

    height: 100%;
    padding: 0 4px;
    box-sizing: border-box;
}

.recipe *, .notes * {
    font-size: 14px;
    text-align: left;
    white-space: pre-line;
}

.brew-buttons {
    display: flex;
    justify-content: space-between;
}

.brew-buttons > button {
    padding: 5px 10px;
    color: rgba(246, 235, 218, .7);
    background-color: transparent;
    border: none;

    transition: color .2s ease;
}

.brew-buttons > button:hover, .brew-buttons > button:active, .coffee-buttons > button:focus {
    color: #f6ebda;
    outline: none;
    border: none;
}