.brew-list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 350px;
    min-height: 90%;
    margin: 10px auto;
}

button#add-brew {
    position: fixed;
    bottom: 35px;
    right: 40px;

    height: 65px;
    width: 65px;
    padding: 14px 12px 12px 14px;

    border-radius: 50%;
    transition: background-color .2s ease-out;
}

button#add-brew:hover {
    border: 1px solid var(--cappuccino);
    background-color: var(--cappuccino);
}