.brew-list-item {
    width: 350px;
    max-height: 60px;
    overflow: hidden;

    padding: 15px;
    box-sizing: border-box;

    border: 1px solid;
    border-bottom: 3px solid;
    border-right: 3px solid;
    border-color: var(--mocha);
    border-radius: 10px;

    background-color: lch(from var(--vanilla) calc(l - 20) calc(c + 10) h);
    transition:
        max-height .45s cubic-bezier(0.5, 0.2, 0.6, .9);
}

.brew-list-item.show {
    max-height: 450px;
}

.brew-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding-bottom: 5px;
}

.brew-title > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    line-height: 1.1;
}

.brew-title p {
    font-size: 12px;
}

.brew-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 5px 0;
}

.brew-content > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.brew-content svg {
    height: 14px;
    width: 14px;
}

div.content-p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: flex-start;
    gap: 2px;
    margin: 8px 0;
}

div.recipe, div.notes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;

    height: 100%;
    padding: 0 4px;
    box-sizing: border-box;

    background-color: rgba(from var(--vanilla) r g b / .2);
    border-left: 1px solid var(--vanilla);
}

.recipe *, .notes * {
    font-size: 14px;
    text-align: left;
    white-space: pre-line;
}

.brew-buttons {
    display: flex;
    justify-content: space-between;
}

.brew-buttons > button {
    padding: 5px 10px;
    color: rgba(246, 235, 218, .7);
    background-color: transparent;
    border: none;

    transition: color .2s ease;
}

.brew-buttons > button:hover, .brew-buttons > button:active, .coffee-buttons > button:focus {
    color: #f6ebda;
    outline: none;
    border: none;
}