#brew-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;

    padding: 10px 40px;

    border: 2px solid var(--coffee);
    border-radius: 8px;
    background-color: #c5a487;
}

#brew-form h3 {
    align-self: center;
    margin-top: 0;
}

#recipe-row {
    display: flex;
    align-items: center;
    gap: 5px;
}

#save-recipe {
    height: 32px;
    min-width: 32px;

    padding: 5px 8px;
    background-color: transparent;
    border: 1px solid var(--cream);
    border-radius: 4px;
}

#brew-form label {
    display: flex;
    align-items: center;

    position: relative;
    box-sizing: content-box;

    height: 16px;
    width: calc(100% - 4px);
    padding: 10px 2px 4px;

    border-bottom: 1px solid var(--cream);
}

#brew-form label:has(select){
    height: 18px;
    padding: 6px 2px;

    border: 1px solid var(--cream);
    border-radius: 4px;
}

#brew-form label:has(#star-rating) {
    padding: 16px 2px 4px;
    border-color: transparent;
}

#brew-form label:has(textarea) {
    height: 36px;
    padding: 4px 2px;

    border: 1px solid var(--cream);
    border-radius: 4px;
}

#brew-form label>span {
    position: absolute;
    margin: 0;
    top: 8px;
    left: 2px;

    font-size: 16px;
    line-height: 1;

    opacity: .7;
    transition: all .3s ease;
}

#brew-form label>span:has( + :focus), #brew-form label>span:has( + :not([value=""])){
    top: calc(-50% + 8px);
    left: 0;
    font-size: 12px;
}

#brew-form label>span:has( + select) {
    margin-left: 4px;
    padding: 0 2px;

    color: rgba(from var(--cream) r g b / .8);

    background-color: var(--vanilla);
    opacity: 1;
}

#brew-form select {
    padding-left: 4px;
}

#brew-form input, #brew-form select, #brew-form textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;

    height: 100%;
    width: 100%;

    font-size: 16px;
    color: var(--cream);

    background-color: transparent;
}

#degrees-switch {
    position: relative;

    height: 26px;
    min-width: 42px;

    font-size: 14px;

    border-radius: 13px;
    background-color: var(--mocha);

    cursor: pointer;
    transition: background-color .2s ease;
}

#degrees-switch:hover {
    background-color: lch(from var(--mocha) calc(l + 20) c h);
}

#switch-circle {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 3px;
    left: 3px;

    height: 20px;
    width: 20px;

    font-size: 12px;
    color: var(--coffee);

    border-radius: 50%;
    background-color: var(--cream);

    transition: all .3s ease;
}

#switch-circle.celsius {
    left: 19px;
}

#brew-form textarea {
    resize: none;
}