#brew-details-modal {
    position: relative;
    width: 350px;
    height: 540px;
    background-color: transparent;
}

#brew-details-modal .brew-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    box-sizing: border-box;
    height: 400px;
    overflow-y: scroll;
    
    padding: .625rem 1.25rem 1.25rem;

    border-radius: 0 0 1.25rem 1.25rem;
    background-color: var(--dp-02);
}

#brew-details-modal .brew-content > div:first-child {
    padding: 0 .625rem;
    margin-bottom: 0;
}

#brew-details-modal .brew-content p {
    width: 100%;
    text-align: left;
    white-space: pre-wrap;
}

#brew-details-modal .content-box {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    padding: 6px 10px 10px;

    font-size: 14px;

    border-radius: 8px;
    background-color: var(--dp-08);
    box-shadow: 2px 3px 5px var(--dp-00);
}

#brew-details-modal .content-box > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Button Group */

.brew-buttons {
    position: absolute;
    bottom: 0;

    box-sizing: border-box;
    width: 100%;

    display: flex;
    justify-content: space-around;
    padding: 0 1.25rem;
}

.brew-buttons > button {
    width: 2.75em;
    height: 2.75em;

    font-size: 24px;
    color: var(--text-color);
    background-color: var(--primary);

    border: 1px solid var(--dp-01);
    border-radius: 50%;

    transition: background-color .2s ease;
}

#brew-details-modal .brew-buttons > button:hover, #brew-details-modal .brew-buttons > button:active {
    background-color: var(--primary-2);
    outline: none;
    border: 1px solid var(--dp-01);
}