.brew-list-item {
    width: 350px;

    color: var(--text-3);
    background-color: var(--dp-01);

    border-radius: 20px;
    cursor: pointer;
}

.brew-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;

    border-radius: 1.25rem 1.25rem 0 0;
    background-color: var(--dp-08);
}

.brew-title > div {
    display: flex;
    gap: 15px;
}

.brew-title h5 {
    font-weight: normal;
    font-size: 16px;
    color: lch(from #C5A487 l c h / .75)
}

.brew-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;

    padding: 14px 20px 18px;
    font-size: 14px;
}

.brew-content > :first-child {
    font-weight: 600;
    margin-bottom: 5px;
}

.brew-content > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brew-content .secondary-details {
    color: lch(from #C5A487 l c h / .55)
}

.brew-list-item .brew-content p {
    width: 310px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}