#recipe-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    gap: 5px;
}

#recipe-name::placeholder {
    color: lch(from var(--text-color) calc(l - 5) calc(c + 5) h);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#recipe-row > #recipe-name {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    overflow: hidden;
    
    height: 24px;
    width: 100%;
    
    line-height: 1.5;
    color: var(--text-color);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 300;
    
    border: none;
    border-bottom: 1px solid var(--text-color);
    background-color: transparent;
}

#save-recipe {
    height: 32px;
    min-width: 32px;

    padding: 5px 8px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    border-radius: 4px;

    transition: all .15s ease-out;
}

#save-recipe:hover {
    background-color: lch(from var(--form-bg) calc(l + 5) calc(c + 5) h);
    color: var(--heading-color);
    border-color: var(--heading-color);
}