#recipe-list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
}

.recipe-list-item {
    cursor: pointer;
    padding: 10px;

    border: solid var(--dp-06);
    border-width: 1px;
    border-radius: 10px;

    background-color: var(--dp-08);
}

.recipe-list-item:hover {
    background-color: var(--dp-02);
}