#recipe-list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
}

.recipe-list-item {
    cursor: pointer;
    padding: 10px;

    border: solid var(--cream);
    border-width: 1px;
    border-radius: 4px;
}

.recipe-list-item:hover {
    background-color: lch(from var(--vanilla) calc(l + 7) calc(c + 5) h);
}