.coffee-list {
    width: 350px;
    margin: 20px auto 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 8px;
}

.coffee-list > h1 {
    align-self: flex-start;
    margin: 0;
    font-size: 36px;
    color: var(--text-2);
}

button#add-coffee {
    position: fixed;
    bottom: 35px;
    right: 40px;

    height: 65px;
    width: 65px;
    padding: 14px 12px 12px 14px;

    border-radius: 50%;
    background-color: var(--primary);
    transition: all .2s ease-out;
}

button#add-coffee:hover {
    background-color: var(--primary-2);
}