.coffee-list-item {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 350px;
    height: 250px;

    margin: 10px auto calc(11px - 250px);
    padding:0 10px 5px;

    border: 1px solid var(--cream);
    border-radius: 10px;

    transition: margin-bottom .65s cubic-bezier(0.5, 0.2, 0.6, .9);
}

.coffee-list-item > * {
    padding: 0 10px;
}

.coffee-list-item.show-item {
    margin-bottom: 10px;
}

.coffee-title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    padding:10px 0 0;
    border-bottom: 1px solid;
    margin-bottom: 5px;
}

.coffee-title > * {
    margin: 0;
}

.coffee-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    padding: 0;
}

.coffee-content p {
    margin: 0;
    text-align: left;
    text-wrap: pretty;
}

.coffee-buttons {
    position: absolute;
    bottom: 10px;

    width: calc(100% - 20px);
    padding: 0;

    display: flex;
    justify-content: space-between;
}

.coffee-buttons > button {
    border: none;

    padding: 5px 10px;

    color: rgba(246, 235, 218, .7);
    background-color: transparent;
    
    transition: color .2s ease;
}

.coffee-buttons > button:hover, .coffee-buttons > button:active, .coffee-buttons > button:focus {
    border: none;
    outline: none;
    color: var(--cream);
}

.trash-icon, .edit-icon {
    height: 16px;
}