#coffee-form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 300px;
    padding: 20px;

    border: 1px solid;
    border-color: var(--dp-24);
    border-radius: 20px;

    transition: background-color .3s ease;
}

#coffee-form h2 {
    margin: 0;
}

#coffee-form label {
    display: flex;
    align-items: center;

    position: relative;
    box-sizing: content-box;

    height: 16px;
    width: calc(100% - 10px);
    padding: 10px 2px 4px;

    border-bottom: 1px solid var(--text-color);
}

#coffee-form label:has(#color-picker){
    border-bottom: none;
}

#coffee-form label > span {
    position: absolute;
    top: 8px;
    left: 2px;

    line-height: 1;
    font-size: 16px;

    opacity: .7;
    transition: all .3s ease;
}

#coffee-form label > span:has(+ input:not([value=""])),
#coffee-form label > span:has( + input:focus) {
    top: calc(-50% + 8px);
    left: 0;
    font-size: 12px;
}

#coffee-form label > span:has( + #color-picker) {
    top: calc(-50% + 4px);
    left: 2px;
    font-size: 12px;
}

#coffee-form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;
    outline: none;
    cursor: text;

    height: 100%;
    width: 100%;

    font-size: 16px;
    color: var(--text-color);
    background-color: transparent;
}

#coffee-form p.form-error {
    color: var(--text-red);
    margin: 0;
    
    /* Doesn't change size of gap between inputs 
    (font-size * line-height) + (2*padding) - margin-bottom = 0 */
    padding: 2px;
    font-size: 14px;
    line-height: 1;
    margin-bottom: -18px;
}

#coffee-form button {
    align-self: flex-end;
    background-color: var(--dp-24);
    transition: all .2s ease;
}

#coffee-form button:hover {
    border-color: transparent;
    opacity: .8;
}