.coffee-list {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

button#add-coffee {
    position: fixed;
    bottom: 35px;
    right: 40px;

    height: 65px;
    width: 65px;
    padding: 14px 12px 12px 14px;

    border-radius: 50%;
    transition: all .2s ease-out;
}

button#add-coffee:hover {
    border: 1px solid var(--cappuccino);
    background-color: var(--cappuccino);
}