.coffee-list-item {
    position: relative;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 350px;

    margin: 0 auto;
    padding:0 0 50px;

    border-radius: 20px;

    transition: margin-bottom .65s cubic-bezier(0.5, 0.2, 0.6, .9);
}

.coffee-list-item > * {
    padding: 0 20px;
}

.coffee-list-item.show-item {
    margin-bottom: 10px;
}

.coffee-title {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 20px;
    border-bottom: 1px solid;
    margin-bottom: 5px;
    border-radius: 20px 20px 0 0;
}

.coffee-title > h4 {
    margin: 0;
    font-family: 'Familjen Grotesk';
    font-weight: 400;
    color: lch(from var(--text-color) l c h / .65)
}

.coffee-title > h4:first-child {
    font-weight: 600;
}

.coffee-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    padding-top: 10px;

    font-size: 14px;
}

.coffee-content p {
    margin: 0;
    text-align: left;
    text-wrap: pretty;
}

.coffee-buttons {
    position: absolute;
    bottom: 10px;

    width: calc(100% - 40px);

    display: flex;
    justify-content: space-between;
}

.coffee-buttons > button {
    border: none;

    padding: 5px 10px;

    color: lch(from var(--text-color) l c h / .8);
    background-color: transparent;
    
    transition: color .2s ease;
}

.coffee-buttons > button:hover, .coffee-buttons > button:active, .coffee-buttons > button:focus {
    border: none;
    outline: none;
    color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
    .coffee-list-item {
        color: var(--text-color);
        background-color: var(--dp-01);
    }
    .coffee-title {
        background-color: var(--dp-24);
    }
}