#color-picker {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;

    padding: 10px 0;
}

.pick-color {
    cursor: pointer;

    height: 16px;
    width: 16px;
    
    border: 2px solid var(--dp-24);
    border-radius: 50%;
}

.pick-color:hover {
    outline: 1px solid var(--heading-color);
}

#color-picker input {
    display: none;
}