#color-picker {
    display: flex;
    align-items: center;
    gap: 5px;
}

#color-picker > span:first-of-type {
    opacity: .7;
    margin-right: 8px;
}

.pick-color {
    cursor: pointer;

    height: 16px;
    width: 16px;
    
    border: 2px solid var(--text-color);
    border-radius: 50%;
}

.pick-color:hover {
    outline: 1px solid var(--heading-color);
}

#color-picker input {
    display: none;
}