:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --coffee: #2d1e11;
  --mocha: #492d14;
  --vanilla: #c5a487;
  --cream: #f6ebda;
  --bg: #e7cfb5;

  color: var(--cream);
  background-color: var(--bg);
}

html {
  overscroll-behavior: none;
}

a {
  font-weight: 500;
  color: var(--coffee);
  text-decoration: inherit;
}
a:hover {
  color: var(--cream);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  overscroll-behavior: contain;
}

#root {
  width: 100%;
  overscroll-behavior-y: contain;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--cream);
  background-color: var(--mocha);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--cream);
}