:root {
  font-family: 'Familjen Grotesk', system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color-scheme: dark light;

  --red: #9E4D4D;
  --pink: #B86981;
  --orange: #B97B48;
  --yellow: #C2A43F;
  --green: #718C4C;
  --blue: #73A2A1;
  --purple: #7B7799;
  --brown: #825C4C;

  --text-red: #E57E7E;
  --text-pink: #EB98B1;
  --text-orange: #E09D65;
  --text-yellow: #D9C06D;
  --text-green: #91B85C;
  --text-blue: #9CCFCE;
  --text-purple: #C5BFF1;
  --text-brown: #DCA690;

  --dp-00: #14100D;
  --dp-01: #201915;
  --dp-02: #241D18;
  --dp-03: #271F19;
  --dp-04: #29211B;
  --dp-06: #2E251E;
  --dp-08: #30271F;
  --dp-16: #372C24;
  --dp-24: #3A2E25;

  --primary-100: color-mix(in oklch, var(--primary-500), white 80%);
  --primary-200: color-mix(in oklch, var(--primary-500), white 60%);
  --primary-300: color-mix(in oklch, var(--primary-500), white 40%);
  --primary-400: color-mix(in oklch, var(--primary-500), white 20%);
  --primary-500: #7D423C;
  --primary-600: color-mix(in oklch, var(--primary-500), #14100D 20%);
  --primary-700: color-mix(in oklch, var(--primary-500), #14100D 40%);
  --primary-800: color-mix(in oklch, var(--primary-500), #14100D 60%);
  --primary-900: color-mix(in oklch, var(--primary-500), #14100D 80%);


  --background-color: var(--dp-00);
  --nav-bg: var(--dp-02);
  --form-bg: var(--dp-04);

  --text-1: #F6EBDA;
  --text-2: #E7CFB5;
  --text-3: #D6BEA1;

  --heading-color: var(--text-1);
  --text-color: var(--text-3);
  --button-text-color: var(--text-1);

  color: var(--text-color);
  background-color: var(--background-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --pink: #B86981;
    --red: #9E4D4D;
    --brown: #825C4C;
    --orange: #B97B48;
    --yellow: #C3A74D;
    --green: #718C4C;
    --blue: #73A2A1;
    --purple: #7B7799;

    --heading-color: #2d1e11;
    --text-color: #f6ebda;
    --button-text-color: #e7cfb5;
    
    --background-color: #f6ebda;
    --form-bg: #c5a487;
    /* --card-color: #9b6e47;
    --card-border-color: #492d14; */
  }
}

html {
  overscroll-behavior: none;
}

a {
  font-weight: 500;
  color: var(--heading-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--text-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  overscroll-behavior: contain;
}

#root {
  width: 100%;
  overscroll-behavior-y: contain;
}

h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Habibi';
  color: var(--text-color);
}

button {
  border-radius: .5rem;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-color);
  background-color: var(--dp-24);
  cursor: pointer;
  transition: background-color 0.3s ease;
}


@font-face {
  font-family: 'Familjen Grotesk';
  src: url('./assets/fonts/FamiljenGrotesk-Regular.woff') format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'Familjen Grotesk';
  src: url('./assets/fonts/FamiljenGrotesk-Medium.woff') format("woff");
  font-weight: 500;
}

@font-face {
  font-family: 'Familjen Grotesk';
  src: url('./assets/fonts/FamiljenGrotesk-SemiBold.woff') format("woff");
  font-weight: 600;
}

@font-face {
  font-family: 'Familjen Grotesk';
  src: url('./assets/fonts/FamiljenGrotesk-Bold.woff') format("woff");
  font-weight: 700;
}

@font-face {
  font-family: 'Habibi';
  src: url('./assets/fonts/Habibi-Regular.woff') format("woff");
}

@font-face {
  font-family: 'DG One';
  src: url('./assets/fonts/DelaGothicOne-Regular.woff') format("woff");
}